@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.team_cont, .emp_cont {
  width: 48dvw;
  height:fit-content; 
  margin: 5dvb;
  padding: 1dvw 5dvw;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-family: 'Monoton';
  margin-bottom: 20px;
  color: rgb(78, 78, 78);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding: 2.4rem 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #ffc0cb;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #fe9e9e;
}

.members{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa1a15a;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
}
.in-team{
  background-color: #b1b0b0;
}
.in-team button{
  background-color: #8b8b8b
}

.total {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  background-color: #fe9e9e;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 30%;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .team_cont, .emp_cont {
    min-width: 90dvw;
    margin:  1rem auto;
  }

  button {
    padding: 8px 16px;
  }
}
